.app-contain {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  color: #333;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  left: calc(50% - 250px);
  top: calc(50% - 250px);
}
.app-contain .top-bar {
  width: 100%;
  height: 20px;
  background-color: #853b75;
  position: relative;
  cursor: move;
  color: #fff;
  text-align: center;
  user-select: none;
}
.app-contain-big {
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  left: 0 !important;
  top: 40px !important;
  transition: all 0.3s;
}
.workspace-node .container .desktop .app-contain .contain-main {
  display: none;
}
.workspace-node .container .desktop .app-contain .main-icon {
  z-index: 9999;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 50px;
  color: #fff;
  background-color: #632c8f !important;
}
