.we-come-desktop {
  width: 100%;
  overflow: auto;
  min-height: 100%;
  background-image: url("../../../../public/img/back.jpg");
  background-size: 100% 100%;
}
.we-come-title {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
}
